.layout .header {
  background: linear-gradient(to right, #ffcc66 0%, #ff5050 80%);
  height: auto;
  padding-top: 0.5rem;
}

.header .logo {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: #ffffff;
}

.ant-layout-content {
  background-color: #ffffff;
}

.ant-layout .ant-layout-footer {
  text-align: center;
  background: linear-gradient(to right, #ffcc66 0%, #ff5050 80%);
  font-weight: 500;
  color: #ffffff;
  font-size: 1.2rem;
}

.user-select .user-label {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  color: #ffffff;
  float: left;
}

.user-select .ant-select {
  min-width: 11.5rem;
}

.user-select .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #FFAA66;
}

.user-select .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #FFAA66;
  box-shadow: 0 0 0 2px rgba(255, 122, 51, 0.5);
}