.book-card-grid-row{
    margin-bottom: 1rem;
}

.ant-card-cover img{
    width: 100%;
    padding: 0.5rem;
}

.book-card .ant-card-meta-title{
    min-height: 3rem;
    max-height: 3rem;
    white-space: normal;
    line-height: 1.3rem;
}

.book-card .ant-card-meta-title a{
    color: #000000d9;
}

.book-card .ant-card-meta-title a:hover{
    text-decoration: underline;
}

.book-card-hover{
    position: absolute;
    width: calc(100% - 16px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0);   
    top: 0;
    left: 8px;
}

.book-card:hover .book-card-hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.book-card-hover-content
{
    height: 100%;
    opacity: 0;
}

.book-card:hover .book-card-hover-content
{
    opacity: 1;
}

.book-card-desc{
    padding-right: 0.5rem;
}

.book-card-price{
    color: #FFAA66;
    /* font-size: 1rem; */
}

.book-card-desc .book-card-desc-btn-col .ant-btn:hover{
    border-color: #FFAA66;
    color: #FFAA66;
}