.header .contacts-icon {
    color: #ffffff;
    margin-right: 0.5rem;
  }
  
  .header .contacts,
  .header .auth-control {
    padding-bottom: 0.5rem;
  }
  
  .header .contacts,
  .header .contacts a,
  .header .auth-control a {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    color: #ffffff;
  }
  
  .header .contacts:hover a,
  .header .auth-control:hover a {
    text-decoration: underline;
  }